<a href="https://colab.research.google.com/github/Reeshab/Assignment-2/blob/main/Copy_of_FSDS_bootcamp_assignment_005_Oct_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
print("watch" in amazon_website[0][0])
print(amazon_website)
for i in amazon_website:
  print(i[0])

True
watch
phone
laptop
shirt

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
ProductName = input("Enter the product name to purchase in Amazon : ")
totalCost =0
for i in amazon_website:
  if(ProductName in i[0]):
    quantity = int(input(f"Enter the no of quantity to purchase the {ProductName} :"))
    print(f"Price of each {ProductName} is {i[1]}")
    for j in range(quantity):
      totalCost =totalCost +i[1]
   
    print(f"Total cost of { ProductName} for quantity  {quantity} is {totalCost}")  
    break    
else:
    print("item as out of stock")

Enter the product name to purchase in Amazon : watch
Enter the no of quantity to purchase the watch :3
Price of each watch is 5000
Total cost of watch for quantity  3 is 15000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

the out for above code is [2,3,4,5,6,6]

#### 3. Write a Python program to find the repeated items of a tuple.

In [ ]:
A = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(A)
B=A.count(4)
print(B)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [ ]:
A = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [ ]:
A= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1] + (500,) for i in A])

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]